---
import { Icon } from 'astro-icon/components';
import { siteConfig } from '../../config/site';

const { site, room, shop } = siteConfig;

const Links = [
  { label: "airbnb",         href: site.airbnb,         icon: "simple-icons:airbnb" },
  { label: "Booking.com",         href: site.booking,         icon: "simple-icons:bookingdotcom" },
].filter(( item ) => item.href );
---
<section class="section contact" id="contact">
  <div class="inner contact-inner">
    <header class="section-title">
      <h2 class="title">Contact</h2>
    </header>
    <div class="actions">
      { shop.tel.display && (
        <a class="tel" href={`tel:${ shop.tel.link }`}>
          <Icon class="contact-tel-icon" name="mdi:phone" />
          <p class="label">{ shop.tel.display }</p>
        </a>
      )}
      { Links.length > 0 && (
        <ul class="sns-list">
          { Links.map(( item ) => (
            <li class="sns-item">
              <a class="sns-link" href={ item.href } target="_blank" rel="noopener noreferrer">
                <Icon class="sns-icon" name={item.icon} />
                <p class="label">{item.label}</p>
              </a>
            </li>
          ))}
        </ul>
      )}
    </div>
  </div>
</section>

<style lang="scss">
  @use "../../styles/variables" as *;
  @use "../../styles/mixins" as *;

  // ―――――――――――――――――――――――――――――――――――
  .actions {
    display: flex;
    flex-direction: column;
    max-width: 700px;
    margin: 0 auto;
  }

  .tel {
    display: flex;
    align-items: center;
    gap: 16px;
  }


  // ―――――――――――――――――――――――――――――――――――
  .tel,
  .sns-item {
    padding: 10px;
  }

  // ―――――――――――――――――――――――――――――――――――
  .sns-link {
    display: flex;
    align-items: center;
    gap: 16px;
  }

  //―――――――――――――――――――――――――――――――――――――― ブレークポイント / タブレット
  @include tb {

  }

  //―――――――――――――――――――――――――――――――――――――― ブレークポイント / スマホ
  @include sp {

  }
</style>