---
---
<section class="section price" id="price">
  <div class="inner price-inner">
    <header class="section-title">
      <h2 class="title">Price</h2>
    </header>
  </div>
</section>

<style lang="scss">
  @use "../../styles/variables" as *;
  @use "../../styles/mixins" as *;

  // ――――――――――――――――――――――――――――――――――――――――
  .section {

  }

  //―――――――――――――――――――――――――――――――――――――― ブレークポイント / タブレット
  @include tb {

  }

  //―――――――――――――――――――――――――――――――――――――― ブレークポイント / スマホ
  @include sp {

  }
</style>